@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* ruleset for 320px - 480px */

    header{
        margin-bottom: 2rem;
    }

    #dishes_line{
        margin-top: 2rem;
        margin-bottom: 0;
    }


    #bottom_kitchen img{
        margin-top: 2em;
    }

}