
.up_btn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background: #FFBA08;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 10%;
    cursor: pointer;
}


.icone_up_btn{
    width: 50px;
}



